@import "foundation/functions";

$sub-section-height: rem-calc(130);
$sub-section-spacing: rem-calc(0 0 10);
$sub-section-title-size: rem-calc(16);


.sub-section{
  height:$sub-section-height;
  margin:$sub-section-spacing;
  border:1px solid #000;
  h1{
    text-transform:uppercase;
    font-size:$sub-section-title-size;
  }
}
